$primary-text-color: #46344e;
$secondary-text-color: #faed26;
$third-text-color: #ffffff;
$placeholder-color: #8d8d8d;
$accent-color: #8d8d8d;
$common-black: #000;
$back-color: #fbfbfb;
$secondary-back-color: #333333;
$third-back-color: #f9f9f9;
$footer-back-color: #2c2c2c;
$input-back-color: #f3f3f3;
$icon-back-color: #f2f2f2;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;

$main-font: 'Roboto', sans-serif;
