.about {
  display: flex;
  padding: 24px 0 12px;

  @media screen and (min-width: 768px) {
    padding: 24px 0 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 60px 0;
  }
}

.about-container {
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(to bottom, $back-color 0%, $back-color 100%) no-repeat;
  background-size: calc(100%) calc(100% - 30px);
  background-position: top;

  @media screen and (min-width: 768px) {
    padding: 24px 0;
    padding-top: 30px;
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    padding: 60px 0;
  }
}

.about-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 354px;

  @media screen and (min-width: 768px) {
    margin-left: 16px;
    width: 460px;
    height: 280px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 100px;
    width: 570px;
    height: 435px;
  }
}

.about-portfolio__img:first-child {
  width: 200px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 160px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 265px;
  }
}

.about-portfolio__img:nth-child(2n + 2) {
  width: 200px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 160px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 140px;
  }
}

.about-portfolio__img:last-child {
  width: 200px;
  height: auto;
  transform: translateY(32px);
  align-self: flex-end;

  @media screen and (min-width: 768px) {
    width: 160px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 345px;
  }
}

.about-desc {
  width: 100%;

  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
    padding: 16px 16px 0 16px;
  }

  @media screen and (min-width: 768px) {
    width: 492px;
    margin-left: 24px;
    padding-bottom: 24px;
    padding-right: 16px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    width: 492px;
    padding-right: 90px;
  }
}

.about-desc > .title {
  margin-bottom: 16px;
}

.about-desc__info {
  @include font(16px, 300, 1.56, null);
  margin-bottom: 16px;
  color: $common-black;

  @media screen and (min-width: 1200px) {
    margin-bottom: 24px;
  }
}

.about-desc-btn__icon {
  transition: fill $duration $timing-function;

  &:hover,
  &:focus {
    fill: $third-text-color;
  }
}
