.footer {
  background-color: $footer-back-color;
  padding-top: 24px;
  position: relative;

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    margin-bottom: 60px;
  }
}

.footer-nav {
  display: flex;
  margin-right: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 24px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 100px;
  }
}

.footer-nav__logo {
  width: 70px;

  @media screen and (min-width: 468px) {
    width: 100px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 100px;
    width: 144px;
  }
}

.footer-nav__wrap {
  display: none;

  @media screen and (min-width: 768px) {
    width: 132px;
  }

  @media screen and (min-width: 1200px) {
    width: 154px;
  }
}

.footer-title {
  margin-bottom: 20px;
  @include font(16px, 700, 1.25, null);
  color: $third-text-color;
}

.footer-nav__item {
  margin-bottom: 8px;
  position: relative;
}

.footer-nav__link {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  @extend %link;
  @include font(14px, 500, 1.71, 0.03em);
  color: $third-text-color;
  transition: color $duration $timing-function;

  @media screen and (max-width: 1199px) {
    & span {
      display: block;
    }
  }

  @media screen and (min-width: 1200px) {
    & .address-span {
      display: inline-block;
    }
  }
}

.footer__wrap-link {
  &::after {
    @extend %headerAfter;
    background-color: $third-text-color;
    width: 80%;
    transform: scaleX(0);
    transform-origin: left;
    transition: opacity $duration $timing-function, transform $duration $timing-function;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

.footer-address__wrap {
  width: 200px;

  @media screen and (min-width: 468px) {
    width: 300px;
  }

  @media screen and (min-width: 768px) {
    width: 270px;
  }
}

.footer-address__item {
  margin-bottom: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  position: relative;
  &:first-child {
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 54px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    & .address-nav__link,
    & .address-nav__link {
      color: #c2c4fa;
    }

    & .footer-address__icon,
    & .footer-address__icon {
      color: #c2c4fa;
    }
  }
}

.footer-address__icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  margin-bottom: -4px;
  color: $third-text-color;
  transition: color $duration $timing-function;
}

.address-nav__link {
  padding: 0;
  transition: color $duration $timing-function;
}

.footer-socials {
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    margin-top: 32px;

    & .footer-title {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 60px;
  }
}

.socials__list {
  display: flex;
  margin-left: -10px;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 16px;
  }

  &:hover,
  &:focus {
    & .socials__link,
    & .socials__link {
      color: #c2c4fa;
    }
  }
}

.socials__link {
  display: block;
  padding: 6px 8px;
  @extend %link;
  color: $third-text-color;
  transition: color $duration $timing-function;
}

.footer-copyright {
  font-family: "Open Sans", sans-serif;
  color: rgba(200, 200, 200, 0.5);
  @include font(12px, 400, 1.83, 0.03em);
  text-align: center;
  height: 70px;
  @extend %centeredFlex;
}

.underline {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: $third-text-color;
  bottom: 96px;
}
