.header {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

// NAVIGATION

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__logo {
  width: 70px;
}

.burger-menu {
  @extend %button;
  @extend %centeredFlex;

  font-family: inherit;
  font-style: inherit;
  border: none;
  min-width: 40px;
  background-color: $third-text-color;
  color: $primary-text-color;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #5d6d7e;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-nav__list {
  display: none;
  @extend %list;
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 134px;
  }
}

.header-nav__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 24px;
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}

.header-nav__link {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;

  @include font(12px, 400, 1, 0.02em);
  text-transform: uppercase;

  color: $primary-text-color;
  transition: color $duration $timing-function;
  @extend %link;

  &::before {
    @extend %headerBefore;
    transform: scaleX(0);
    transform-origin: left;
    transition: opacity $duration $timing-function, transform $duration $timing-function;
  }
  &::after {
    @extend %headerAfter;
    transform: scaleX(0);
    transform-origin: left;
    transition: opacity $duration $timing-function, transform $duration $timing-function;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      opacity: 1;
      transform: scaleX(1);
    }
  }
  &--active {
    &::before {
      @extend %headerBefore;
      opacity: 1;
      transform: scaleX(1);
    }
    &::after {
      @extend %headerAfter;
      opacity: 1;
      transform: scaleX(1);
    }
  }
}
